<!DOCTYPE HTML>

<html>

<head>
    @{
        await Html.RenderPartialAsync("_Head");
    }
</head>

<body>
    <div id="page-wrapper">
        <!-- Header -->
        @{
            await Html.RenderPartialAsync("_Header");
        }
    </div>

    <!-- Tasks -->
    <section id="features">
        <div class="container">
            <div class="row">
                @RenderBody()
            </div>
        </div>
    </section>

    <!-- Content -->
    <section id="content">
        @{
            await Html.RenderPartialAsync("_Content");
        }

    </section>


    <!-- Copyright -->
    @{
        await Html.RenderPartialAsync("_Footer");
    }

    <!-- Scripts -->
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
