@model Tasker.Models.Mission

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Mission</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="MissionId" />
            <div class="form-group">
                <label asp-for="ParentMissionId" class="control-label"></label>
                <select asp-for="ParentMissionId" class="form-control" asp-items="ViewBag.Missions"></select>
            </div>
            <div class="form-group">
                <label asp-for="MissionName" class="control-label"></label>
                <input asp-for="MissionName" class="form-control" />
                <span asp-validation-for="MissionName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MissionDesc" class="control-label"></label>
                <input asp-for="MissionDesc" class="form-control" />
                <span asp-validation-for="MissionDesc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DoerUserId" class="control-label"></label>
                <select asp-for="DoerUserId" class="form-control" asp-items="ViewBag.UserDoer"></select>
            </div>
            <div class="form-group">
                <label asp-for="MissionMasterUserId" class="control-label"></label>
                <select asp-for="MissionMasterUserId" class="form-control" asp-items="ViewBag.UserMaster"></select>
            </div>
            <div class="form-group">
                <label asp-for="StatusId" class="control-label"></label>
                <select asp-for="StatusId" class="form-control" asp-items="ViewBag.Statuses"></select>
            </div>
            <div class="form-group">
                <input asp-for="DateCreate" type="hidden" value="@DateTime.Now.ToString("yyyy-MM-ddTHH:mm:ss")" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="DeadLine" class="control-label"></label>
                <input asp-for="DeadLine" class="form-control" />
                <span asp-validation-for="DeadLine" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MissionCost" class="control-label"></label>
                <input asp-for="MissionCost" class="form-control" />
                <span asp-validation-for="MissionCost" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}


